*.jpg
*.png
*.pth
*.pt
*.pkl
__pycache__/
*.pyc
runs/
data_engineering/main
data_engineering/output_no_blue.png
data_engineering/nobluebg_test/
infrastructure/db/
application/rag/model_weights.pth
model_engineering/preview_output/
model_engineering/heatmap.jpg
model_engineering/relatorio_dataset.txt
